{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
  </head>
  <body>
    <div class="overlay"></div>
    <header>
      <div class="top">
        <div class="title_bar">
          <a href="{% url 'index' %}"
            ><img src="{% static 'assets/desktop/logo.svg' %}" alt=""
          /></a>
          <div class="toggle_items">
            <img src="{% static 'assets/desktop/icon-sun.svg' %}" alt="" />
            <div class="toggle_btn js_toggle_btn"></div>
            <img src="{% static 'assets/desktop/icon-moon.svg' %}" alt="" />
          </div>
        </div>
      </div>
    </header>
    <main>
      <!-- desktop and tablet search form  -->
      <form action="" class="form desktop-form">
        <div class="sub-input">
          <img
            src="{% static 'assets/desktop/icon-search.svg' %}"
            alt="search icon"
          />
          <input
            type="text"
            placeholder="Filter by title, companies, expertise"
          />
        </div>
        <div class="sub-input">
          <img src="{% static 'assets/desktop/icon-location.svg' %}" alt="" />
          <input type="text" placeholder="Filter by location" />
        </div>
        <label for="d-checkbox" class="checkbox-label">
          <input type="checkbox" name="" id="d-checkbox" />
          Full Time Only
          <input type="submit" value="Search" class="button button_one" />
        </label>
      </form>
      <!-- mobile search form  -->
      <form action="" class="form mobile-form">
        <div>
          <input type="text" placeholder="Enter job desc..." />
          <img
            src="{% static 'assets/mobile/icon-filter.svg'%}"
            alt="filter icon"
            class="js-filter-btn"
          />
          <div class="search-logo">
            <label for="m-search-btn">
              <img src="{% static 'assets/desktop/icon-search.svg' %}" alt="" />
              <input type="submit" value="search" id="m-search-btn" />
            </label>
          </div>
        </div>
        <!-- modal div  -->
        <div class="search-modal hidden">
          <div>
            <img
              src="{% static 'assets/desktop/icon-location.svg' %}"
              alt="location icon"
            />
            <input type="text" placeholder="Filter by location" />
          </div>
          <label for="m-checkbox">
            <input type="checkbox" name="" id="m-checkbox" />
            Full Time Only
          </label>
          <input type="submit" value="Search" class="button button_one" />
        </div>
      </form>
      <!-- rendering list of devjobs  -->
      <div class="content js-content">
        {% for job in data %}
        <a href="content/{{job.id}}">
          <div class="job_card js_card">
            <img
              src="{{job.logo}}"
              alt=""
              style="background-color : {{job.logoBackground}}"
            />
            <div class="description">
              <span class="time_posted">{{job.postedAt}}</span>
              <span>&#8226;</span>
              <span class="job_description">{{job.contract}}</span>
            </div>
            <p class="job_title large_bold_text">{{job.position}}</p>
            <p class="company">{{job.company}}</p>
            <p class="country">{{job.location}}</p>
          </div>
        </a>
        {% endfor %}
      </div>
      <button class="button button_one center_btn">Load More</button>
    </main>
    <script src="{% static '/js/app.js' %}"></script>
  </body>
</html>
